
body{
  background-color: black;
}

#Encapsulation {
  width: 310px;
  margin: auto;
  color: white;
  padding: 5px;
  border-style: dotted;
  border-width: thin;
  border-color: #B22222;
}

#AdvancedBox {
  display: none;
}

#Title {
  text-align: center;
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: #B22222;
  
}

.ConBox {
  float: left;
  clear: left;
}

.ActivateButton {
  width: 30px;
  background-color: #B22222;
}

.ConField{
  display: inline-block;
  float: left;
  margin-right: auto;  
  background-color: grey;
  color: white;
  border-color: #B22222;
  font-weight: bold;
  width: 150px;  
}

.RangeField{
  width: 35px;
  float: left;
  text-align: right;
  background-color: grey;
  color:white;
  border-color: #B22222;
}

.Score{
  width: 50px;
  float: left;
  text-align: right;
  background-color: black;
  color:white;
  border: 0px none #EBE9ED;
  font-size: large;
  text-align: right;
}



.Marker{
  background-color: Black;
  height: 20px;
  width: 20px;
  float: left;
}

#ButtonBox {
  margin-left: 5px;
  margin-top: 5px;
  clear:  left;
  width: 300px;
  font-weight: bold;
  font-family: monospace;
}

#ButtonBox button, #AdvancedBox button{
  border-color: #B22222;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: monospace;
}

#ClearResults, #ResetRoundCounter {
    float: right;
    margin-right: 28px;
}

#CurrentlyActiveBox {
  clear: left; 
  width: 310px;
  text-align: center;
  height: 23px;
}

#Next {
  width: 180px;
  margin-top: 5px;
  }

#CurrentlyActiveBox span{font-size: 20px;}

#RollResults {font-size: 12px;}

